@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, button {
    text-transform: capitalize;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: rgb(238, 238, 238);
    padding: 30px 10%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_left p {
    font-weight: 400;
    margin: 0 4em;
    font-size: 17px;
}

.header_right {
    font-size: 17px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    padding: 2em 10%;
}

img {
    max-width: 100%;
    height: auto;
}

.cards {
    background-color: white;
    padding: 20px 2em;
}
.card h2 {
    margin-right: 10px;
}

.card span {
    font-size: 18px;
    font-weight: 500;
}

.card-day {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-info {
    background-color: #FBD309;
    padding: 30px 40px;
    margin-bottom: 20px;
}

.card-info .cardtop {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 2em;
}

.card-info .cardtop p {
    font-weight: 600;
}

.card-info .card-body .card-body-description {
    display: grid;
    grid-template-columns: 45% auto;
    column-gap: 15px;
    margin-bottom: 20px;
}

.card-body .games {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.game-info {
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 7px 13px;
}

.game-info span {
    font-size: 70px;
    cursor: pointer;
}

.game-info span:hover {
    font-variation-settings: 'FILL' 1;
}

.game-info h3 {
    text-align: center;
    margin-bottom: 10px;
}

.game-info .seats {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
}

.game-info .game-info-description {
    display: grid;
    grid-template-columns: 45% 50%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.game-info .game-info-description p {
    text-transform: capitalize;
}

button {
    display: block;
    padding: 9px 50px;
    background-color: #FF5E22;
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 2px;
    font-size: 17px;
    margin-top: 15px;
    align-self: center;
    margin: 15px auto 0;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    background-color: whitesmoke;
    margin: 10% auto;
    padding: 20px;
    width: 25%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.modal-top {
    text-align: center;
    margin-bottom: 1em;
}

.modal-body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-body input {
    padding: 5px 10px;
    width: 300px;
    margin: 10px 0;
    font-size: 17px;
    outline: none;
}

.modal-bottom {
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 27px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
select {
    padding: 6px 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
}

/* Style for multiple options (you can adjust the styles as needed) */
select option {
    font-size: 16px;
    text-transform: capitalize;
}

/* Customize the appearance of the select arrow (if needed) */
select::-ms-expand {
    display: none;
}

/* Style when select is focused */
/* select:focus {
    border: 2px solid #FF5E22;
} */

/* Style for the selected options */
select option:checked {
    background-color: #FF5E22; /* Background color for selected options */
    color: white; /* Text color for selected options */
}

@media screen and (max-width: 1024px) {
    main {
        padding: 2em 4%;
    }

    .modal-content {
        width: 40%;
    }
    
    .game-info .seats {
        grid-auto-flow:dense;
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (max-width: 830px) {
    header {
        display: block;
        padding: 15px 10%;
    }

    .header_left p,
    .header_right {
        display: none;
    }

    .header_left {
        align-items: center;
        justify-content: center;
    }

    .header_left img {
        max-width: 100%;
        width: auto;
    }

    main {
        padding: 0;
    }

    .cards {
        padding: 20px 5%;
    }

    .card-day {
        margin-bottom: 15px;
    }

    .card-info {
        padding: 15px 20px;
    }

    .card-info .cardtop {
        margin-bottom: 1em;
    }
    
    .card-info .cardtop p {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 5px;
    }

    .card-info .cardtop span {
        text-align: end;
    }

    button {
        padding: 7px 40px;
    }

    .card-day {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .card-info .card-body .card-body-description {
        grid-template-columns: 50% auto;
    }

    .game-info .seats {
        grid-template-columns: auto auto auto auto;
    }

    .modal-content {
        margin: 20% auto;
        width: 50%;
    }
    
    .modal-top h2, .modal-top span {
        font-size: 20px;
    }

    .modal-body h3 {
        font-size: 18px;
    }

    .modal-body input {
        font-size: 15px;
    }

    @media screen and (max-width: 650px) {
        .game-info .seats {
            grid-template-columns: auto auto auto;
        }
    }

    @media screen and (max-width: 600px) {
        .modal-content {
            width: 60%;
        }
    }

    @media screen and (max-width: 500px) {
        .card-body .games {
            grid-template-columns: auto;
        }

        .game-info .game-info-description {
            grid-template-columns: 50% 45%;
        }

        .game-info .seats {
            grid-template-columns: auto auto auto auto;
        }

        .modal-content {
            width: 70%;
        }
    }

    @media screen and (max-width: 425px) {
        .card-body .games {
            justify-content: space-around;
        }

        .modal-content {
            width: 80%;
        }
    }

    @media screen and (max-width: 370px) {
        .modal-content {
            width: auto;
        }
        
        .modal-content input {
            width: 90%;
        }
    }

    @media screen and (max-width: 320px) {
        .card-body .games {
            grid-template-columns: 100%;
        }

        .game-info .seats {
            grid-template-columns: auto auto auto;
        }

        .game-info .game-info-description {
            grid-template-columns: 45% 50%;
        }

        .game-info .game-info-description p {
            font-size: 14px;
        }
    }
}